/* footer{
    background: var(--color-gray-900);
    margin-top: 6rem;
    padding-top: 6rem;
} */
footer{
    background: var(--color-white);
    padding-top: 6rem;
    margin-left: 350px;
    border-top: 2px solid var(--color-gray-900);
}
.footer_categories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.footer_categories a{
    background: var(--color-gray-900);
    color: var(--color-white);
    padding: 0.6rem 1.4rem;
    border-radius: var(--radius-2);
    transition: var(--transition);
}
.footer_categories a:hover{
    background: var(--color-white);
    color: var(--color-gray-900);
    border: 2px solid var(--color-gray-900);
}
.footer_copyright{
    text-align: center;
    border-top: 2px solid var(--color-gray-700);
    padding: 1rem;
    color: var(--color-gray-900);
    font-weight: 500;
}